{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        [
            "babel-plugin-styled-components",
            {
                "ssr": true,
                "displayName": true,
                "fileName": false
            }
        ]
    ]
}
